/* Head area */


.headSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 60px;
}

.siteLogo a {
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
}

.additionalSettings ul {
    display: flex;
    align-items: center;
    gap: 80px;
    width: inherit;
}

.additionalSettings li {
    list-style: none;
}

.searchContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.searchElement input {
    height: 2.4rem;
    width: 200px;
    padding: 10px;
}

.searchIcon {
    border: none;
    position: absolute;
    right: 0;
    top: 2%;
    cursor: pointer;
    padding: 5px;
    background-color: #000;
    color: #dadada;
}

/* Navigation bar */
.navBarConatainer {
    min-height: 100%;
    background-color: #000;
}

.navBarConatainer ul {
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

.navBarConatainer li {
    list-style: none;
}

.navBar a {
    color: #fff;
    padding: 1.3rem;
}

.navBarConatainer li :hover {
    background-color: #303030;
}

/* Active state */
.navBarItemActive {
    background-color: #303030;
}

/*Tip Element */
.tipBox {
    color: #000000;
    border: 2px solid #000000;
    padding: 13px;
    margin: 20px;
    border-radius: 18px;
}